<div class="panel panel-default" ng-init="getDrugs()">
    <div class="panel-heading">
        <ul class="list-inline">
            <li>Update Drug Information<button class="btn-primary"></button>
        </ul>
    </div>
    <div class="panel-body" style="overflow-x:auto;overflow-y:auto">
        <form>
            <div class="form-group">

                <table class="table table-striped">

                    <tr>
                        <td>Drug Category :</td>
                        <td>
                            <select ng-model="Drugcategory" style="width:500px">
                                <option value="selectDrugCategory">Select drug category</option>
                                <option value="narcotics">Narcotics</option>
                                <option value="injection">Drugs used in treatment of injection</option>
                                <!--<option ng-repeat="drug in drugs" value={{drug.category}}>{{drug.category}}</option>-->

                            </select>
                        </td>
                    </tr>


                    <tr ng-show="Drugcategory">
                        <td>Drug Name :</td>
                        <td>
                            <!--<select ng-model="test" ng-options="drug.name for drug in drugInformation.drugs" style="width:500px">
                                <option value="">Select drug name</option>
                            </select>-->
                            <select ng-model="Drugname"  style="width:500px">
                                <option value="">Select drug name</option>
                                <option value="Methyldopa">Methyldopa</option>
                                <option value="Panadol">Panadol</option>
                                <option value="Losartan">Losartan</option>
                                <option value="Afrin">Afrin</option>
                                </select>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="panel-body" style="overflow-x:auto" ng-show="Drugname">
        <table class="table table-striped" style="width:100%;white-space:nowrap">

            <thead>
            <tr>
                <th>Name</th>
                <th>Batch No</th>
                <th>Edit</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="drug in drugs">
                <td style="border: 1px solid #dddddd">{{drug.name}}</td>
                <td style="border: 1px solid #dddddd">{{drug.batchNo}}</td>
                <td><a class="btn btn-primary" href="#!/drugs/edit/{{drug._id}}">Edit</a></td>

            </tr>

            </tbody>
        </table>
    </div>

</div>


<!--
<div class="panel panel-default" ng-init="getDrugs()">
        <div class="panel-heading">
            <ul class="list-inline">
                <li>Drug Information<button class="btn-primary"><i class="glyphicon glyphicon-minus"></i> </button>
                <li><button class="btn-primary" ><i class="glyphicon glyphicon-remove-sign"></i> </button></li>
            </ul>
        </div>
        <div class="panel-body" style="overflow-x:auto;overflow-y:auto">
            <form>
                <div class="form-group">

                    <table class="table table-striped">

                        <tr>
                            <td>Drug Category :</td>
                            <td>
                                <select ng-model="drugcategory" style="width:500px">
                                    <option value="selectDrugCategory">Select drug category</option>
                                    <option value="narcotics">Narcotics</option>
                                    <option value="injection">Drugs used in treatment of injection</option>
                                    //<option ng-repeat="drug in drugs" value={{drug.category}}>{{drug.category}}</option>

</select>
</td>
</tr>


<tr ng-show="drugcategory">
    <td>Drug Name :</td>
    <td>
        //<select ng-model="test" ng-options="drug.name for drug in drugInformation.drugs" style="width:500px">
            //<option value="">Select drug name</option>
        //</select>
        <select ng-model="drugname"  style="width:500px">
            <option value="">Select drug name</option>
            <option ng-repeat="drug in drugs" value={{drug.name}}>{{drug.name}}</option>
        </select>
    </td>
</tr>
</table>


</div>
</form>
</div>

<div class="panel-body" style="overflow-x:auto" ng-show="drugname">
    <table class="table table-striped" style="width:100%;white-space:nowrap">

        <thead>
        <tr>
            <th>Name</th>
            <th>Batch No</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="drug in drugs">
            <td style="border: 1px solid #dddddd">{{drug.name}}</td>
            <td style="border: 1px solid #dddddd">{{drug.batchNo}}</td>
            <td><a class="btn btn-primary" href="#!/drugs/edit/{{drug._id}}">Edit</a></td>
            <td><a class="btn btn-primary" href="#!/drugs/view/{{drug._id}}">View</a></td>
            <td><a class="btn btn-danger" href="#!/" ng-click="deleteDrug(drug._id)">Delete</a></td>
        </tr>

        </tbody>
    </table>
</div>

</div>




-->
